<h2> Clinic Info: </h2>
<div id = "clinics_container ">
  <% @clinics.each do |clinic| %>
    <p> Address: <%= clinic.clinic_address %></p>
    <p> City: <%= clinic.city %></p>
    <b> Time table </b>
    <p> From: <%= clinic.start.strftime("%I:%M%p") %>
        To: <%= clinic.end.strftime("%I:%M%p") %></p><hr>
  <% end %>
</div>
