<div class="container patients shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="form-title"> Edit patient details </h1><hr>
    <%= render 'clinics/form' %>
    <div class="modal-footer border-top-0 d-flex justify-content-left">
        <%= link_to 'Back', doctor_clinics_path, class: "btn btn-info" %>
    </div>
</div>