<div class="container patients">
  <div class="jumbotron jumbo-p">
    <h4> Looks like you haven't any appointment! </h4><hr>
    <%= image_tag "schedule.svg", class: "schedule_img "%>
    <%= link_to 'Book an appointment', new_patient_path, class: "btn btn-info" %>
  </div>
</div>