<h1> Doctors List </h1>

<table>
  <tr>
    <th>Name</th>
    <th>city</th>
    <th></th>
  </tr>
 
  <% @doctors.each do |doctor| %>
    <tr>
      <td><%= doctor.first_name.capitalize! %></td>
      <td><%= doctor.city %></td>
      <td></td> 
      <td><%= link_to 'book', doctor_path(doctor) %></td>
    </tr>
  <% end %>
</table>