.center{
  margin:0 auto;
}

.container{
  width:1000px;
  margin-top: 75px;
}

h1,label,hr,em{
  color:blue;
}

.bottom{
  padding-left: 17px;
}

.fc-time-grid-container { 
  height: wrap !important;
}

.card{
  max-width: 500px;
  margin-top: 75px;
  background-color:#e9ecef;
}

.well-collapse{
  background-color: lightcoral;
}

.alert{
  max-width: 500px;
  margin-top:25px;
  margin-bottom: 10px;
}
