.index{
  max-width: 800px;
}
.doctor{
  text-align: center;
}
.cal-div{
  margin-top: 20px;
}

.index-form{
  width: 970px!important;
  margin: 0 auto!important;
}

.index-search{
  width: 915px!important;
  height: 40px;
}
